/*ZF*/

body{
  max-width: 100vw;
  background-color: black;
  font-size: 16px;
  margin: 0;
}

/*ZF - Index*/

.opener{
  max-width: 100%;
  display: flex;
  border-color: darkred;
  border-style: double;
}

.welcomeImage{
  width: 100%;
  height: auto;
}

.bgimagetxt{
  position: absolute;  /* Position on top of the image */
  top: 50%;  /* Center vertically (adjust as needed) */
  left: 50%;  /* Center horizontally (adjust as needed) */

  color: white;  /* Adjust text color for visibility */
  text-align: center;  /* Center text horizontally */
  font-family: Libre Baskerville;
  font-size: 2.5em;
  z-index: 1;
}

.navigation-ribbon {
  background-color: #333;
  color: #fff;
  width: 100%;

  height: auto; /*25%px*/
  min-height: 25%; /*Boundary for the auto*/

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  left: 0;  /* Position at the left side of the page */
  border-style: none none double none;
  border-color: darkred;

  top: 0; /* Position at the top of the page */
  z-index: 1; /* Set a higher z-index to ensure it stays on top */
}

.navigation-ribbon a {
  text-decoration: none;
  color: inherit;
  padding: 0.4% 0.8%;
}

.navigation-ribbon a:hover {
  background-color: #222;
  color: #ddd;
}

.footerContent{
  display: flex; /* Enable flexbox layout */
  justify-content: space-between; /* Distribute elements horizontally */
  align-items: center; /* Align elements vertically */
}

.footerContent a, .footerContent p {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0.8%;
  text-align: center;
  border-color: darkred;
  border-style: double;
}

.scrollBtn{
  background-color: #444; /* Darker shade of gray */
  color: #fff; /* White text */
}

.scrollBtn:hover {
  background-color: #333; /* Darker background on hover */
  cursor: pointer; /* Change cursor to indicate clickability */
}

/*ZF - BlogFormat*/



  /*ZF - ty*/



/*ZF - About*/



/*ZF - Stuff*/



  /*ZF - World*/



  /*ZF - Quotes*/



  /*ZF - Uni*/



/*ZF - Socials*/



/*ZF - Contact*/



/*ZF - Test*/



/**/