body{
  font-family: 'Kaisei Tokumin', serif;
  color: white
}

h1,h2,h3,h4 {
  font-family: 'Oswald', sans-serif;
  color: white
}

a {
  text-decoration-line: none;
  text-decoration-color: none;
  color: white;
}

body{
background-image:url('https://wallpaperaccess.com/full/869910.gif');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.Links{
  color: white
}

.container > div {
  margin: 20px auto;
}

#mine{
  font-style: oblique; font-size: small;
}

#grass{
  font-style: oblique;  font-size: small;
}

#LT{
  text-decoration: underline;
  color:
}

.Pics{
  text-align: center;
}

h1{

}

.container{
  max-width: 840px;
  margin: 0 auto;
}

#Tip{
  text-align: center;
  text-decoration: underline;
}

#Sub{
  text-align: center;
}

.Heading{
  text-align: left;
}

.grid{
display: grid: center;
grid-template-columns: 50% 50%;
}

.grid{
  justify-content: center;
  padding: 4%;
}

.image{
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: all ease in-out .2s;
}

.image:hover {
  filter: brightness(.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  transition: all ease in-out .2s;
}


@media (max-width: 650px) {
  .grid {
    grid-template-columns: 100%;
  }
}

.LL:hover {
  filter: brightness(.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  display: inline-block;
}

.LL2:hover {
  filter: brightness(.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  display: inline-block;
}

.LL3:hover {
  filter: brightness(.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  display: inline-block;
}

.LL4:hover {
  filter: brightness(.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  display: inline-block;
}

.LL5:hover {
  filter: brightness(.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  display: inline-block;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

